#pragma once
#define _USE_MATH_DEFINES
#include <cmath>

namespace My
{

double foo_a = {{foo_a}};
double foo_b = {{foo_b}};

double foo_max_1 = {{foo_max_1}};
double foo_max_2 = {{foo_max_2}};
double foo_max_3 = {{foo_max_3}};
double foo_max_4 = {{foo_max_4}};

double foo_res = {{foo_res}};

double foo(double x)
{
    return {{foo}};
}

double foo_1(double x)
{
   return {{foo_x}};
}

double foo_2(double x)
{
    return {{foo_xx}};
}

double foo_3(double x)
{
    return {{foo_xxxx}};
}

double foo_4(double x)
{
    return {{foo_xxx}};
}

double bar_a = {{bar_a}};
double bar_b = {{bar_b}};
double bar_c = {{bar_c}};
double bar_d = {{bar_d}};

double bar_res = {{bar_res}};

double bar(double x, double y)
{
    return {{condition}} ? {{bar}} : 0;
}

double bar_x(double x, double y)
{
    return {{condition}} ? {{bar_x}} : 0;
}

double bar_y(double x, double y)
{
    return {{condition}} ? {{bar_y}} : 0;
}

double bar_xx(double x, double y)
{
    return {{condition}} ? {{bar_xx}} : 0;
}

double bar_yy(double x, double y)
{
    return {{condition}} ? {{bar_yy}} : 0;
}

double bar_xy(double x, double y)
{
    return {{condition}} ? {{bar_xy}} : 0;
}

} // namespace My
